<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Feriados 2024
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <ion-list>
      <!-- f será a variavel de controle do laço -->
      <ion-item *ngFor="let f of feriados">
        <ion-label>
          <h2>{{ f.name }}</h2>
          <p>{{ f.level.toUpperCase() }} - {{ f.type.toUpperCase() }}</p>
        </ion-label>
        <ion-note slot="end">
          <h2>{{ formatarDataParaBr(f.date) }}</h2>
        </ion-note>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
