<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Feriados 2024
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-list>
      <!-- f será a variavel de controle do laço -->
      <ion-item *ngFor="let f of feriados">
        <ion-label>
          <h2>{{ f.nomeDoFeriado }}</h2>
          <p>{{ f.levelDoFeriado }} - {{ f.tipoDoFeriado }}</p>
        </ion-label>
        <ion-note slot="end">
          <h2>{{ f.dataDoFeriados }}</h2>
        </ion-note>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
